<!DOCTYPE html>
<html lang="en">
<head>
   <%- include("partials/head", {title: "Home"}) %>
   <style>
      body {
         background-color: #37751b;
         color: white;
      }
   </style>
</head>
<body>
   
   <div class="container padtop center">        
      <br>
      <h1 class="animate__animated animate__fadeInUp animate__slow animate__delay-1s">Talk To The Tree</h1>
      <h4 class="animate__animated animate__fadeInUp animate__slow animate__delay-2s">Coming this spring!</h4> 
      <br>
   </div>
   <%- include("partials/footer") %>
</body>
</html>